


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!--Body content-->
      <h2>Place your order</h2>
        Name of the meal:<br>
        <input type="text" ng-model="$ctrl.mealName">
      </p>
      <p>Price of the meal:<br>
        <input type="number" ng-model="$ctrl.mealPrice">
      </p>
        <button class="btn btn-primary" type="submit" ng-click="$ctrl.saveData()">Submit</button>
    </div>

      <div class="col-md-4">
      

    </div>
</div>    